<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Create a new list</span>
  </div>
</nav>

<div class="d-flex justify-content-center">
  <div class="mt-5 text-start w-50 my-form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, label: 'Your name:', placeholder: "Your name" %>
      <%= f.input :photo, as: :file, label: 'Input image:' %>
      <div class="text-center mt-5">
        <%= f.submit 'Add', class: "btn btn-outline-secondary m-auto" %>
        <%= link_to "Cancel", :back, {class: "btn btn-outline-secondary m-auto"} %>
      </div>
    <% end %>
  </div>
</div>
